<div class="container">
	<br><br>
	<div class="col-md-4 col-md-offset-4">
		<form action="/sharedposts" method="POST">
		  	<input id="token" name="authenticity_token" type="hidden" value="<%= form_authenticity_token %>">
			<div class="form-group">
				<label for="exampleInputEmail1">ID da Página</label>
				<input type="text" class="form-control" name="idpost" placeholder="ID da Página">
				<small>Pegue o ID em http://findpostid.com/</small>
			</div>
			<div class="form-group">
				<label for="exampleInputPassword1">Token</label>
				<input type="text" class="form-control" name="token" placeholder="Token">
				<small>Vá em https://developers.facebook.com/tools/explorer e gere um token com acesso 'user_stream'</small>
			</div>
			<button type="submit" class="btn btn-default">Submit</button>
		</form>
	</div>
</div>